.post {
  border-radius: 16px;
  background-color: #FAFAFA;
  max-width: 606px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 202px;
}

.user-info {
  display: flex;
  align-items: flex-start;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
}

.Name {
  font-size: 16px;
  line-height: 19.2px;
  height: 16px;
  width: 118px;
  margin-bottom: 1px;
}

.JobTitle {
  font-size: 14px;
  font-weight: 400;
  margin-top: 1px;
  width: 120.13px;
  color: #898384;
  margin-bottom: 5px;
}

.user-details {
  display: flex;
  gap: 400px;
}

.event-options {
  margin: 0;
  padding: 0;
}

.post-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  height: 73px;
  width: 547px;
  margin-top: 20px;
  color: #333;
  margin-right: 25px;
  margin-left: 0px;
}

.Read-More{
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #006296;
  margin-top: 20px;
  cursor: pointer;
  padding-left: 450px;
}

.post-image {
  width: 550px;
  height: 240px;
  object-fit: cover;
  margin-left: 28px;
  margin-right: 28px;
  border-radius: 5px;
}

.post-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  transition: transform 0.2s;
}

.action-button:hover {
  transform: scale(1.1);
}

.comment-section {
  margin-top: 16px;
  width: 565px;
  border-radius: 10px;
  margin-left: 28px;
  background-color: #F6F6F6;
}

.comment-input-container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 49.05px;
  gap: 5px;
  position: relative;
}

.comment-icons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.comment-profile-pic {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
  background: none;
}

.comment-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
  background-color: #F6F6F6;
  position: relative;
}

.icon-buttons {
  display: flex;
  gap: 10px; /* Adjust the gap between mic and pic icons */
  margin-right: 30px;
  position: relative;
  border-color: 1px blue;

}

.comments {
  margin-top: 10px;
}

.comment {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  background-color: #F6F6F6;
}

.comment p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.mic-button {
  height: 17.45px;
  width: 18.69px;
  background: none;
  border: none;
  cursor: pointer;
}
.mic{
  height: 17.45px;
  width: 18.69px;

}
.pic{
  height: 17.45px;
  width: 18.69px;
}

.pic-button {
  height: 16px;
  width: 12px;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
}

.shared-icon, .saved-icon, .heart-button {
  height: 24px;
  border: none;
  background-color: white;
}

.action-button.saved .saved-icon {
  filter: invert(25%) sepia(85%) saturate(7500%) hue-rotate(190deg) brightness(85%) contrast(93%);
}

.comment-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
}

.comment-image {
  width: 80%; 
  height: auto; 
  margin-top: 5px; 
}

.uploaded-image-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
}

.uploaded-image-preview img {
  width: 80%; 
  height: auto; 
  margin-top: 5px; 
}

