body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  padding: 20px;
}

.create-post {
  border: 1px solid #ccc;
  border-radius: 16px;
  width: 620px;
  margin-bottom: 18px;
  height: 162px;
  background-color: #fff;
}

.create-post-header {
  padding: 10px;
  display: flex;
  align-items: center;
}

.post-input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.create-profile-pic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 15px;
}

.post-input {
  flex-grow: 1;
  border: none;
  outline: none;
  resize: none;
  font-size: 16px;
  padding: 10px;
  height: 50px;
  margin-right: 10px;
  position: relative;
}

.pencil_icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  right: 15px; /* Adjust to position the icon next to the text input */
}

.create-post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #D7F1FF;
  border: 1px solid #ccc;
  border-radius: 0px 0px 16px 16px;
}

.footer-icon-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
  margin-left: 10px;
}

.footer-icon-button:last-child {
  margin-right: 0;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.text {
  font-size: 14px;
  color: #006296;
}

.send-button {
  width: 82.13px;
  background-color: #006296;
  color: white;
  border: none;
  border-radius: 0 0 16px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.send-button:hover {
  background-color: #0056b3;
}

.send_icons {
  width: 25.6px;
  height: 23.29px;
}
