.event-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .event-popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    max-height: 300px; /* Set maximum height to make it scrollable */
    position: relative;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .event-popup-close {
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .event-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .event-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .event-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .event-details {
    flex: 1;
  }
  
  .event-topic {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .event-description {
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
  }
  
  .event-options {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  