.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
  }
  
  .main-content {
    display: flex;  
    flex-direction: column;
    flex-grow: 1; /* Allows this section to grow and fill available space */
  }
  
  .top-row, .bottom-row {
    display: flex;
    gap: 90px; /* Space between components */
    padding: 5px; /* Padding around the rows */
    margin-left: 150px;
  }

