.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
  }
  
  .main-content {
    margin-top: 120px;
    display: flex;  
    flex-direction: column;
    flex-grow: 1; /* Allows this section to grow and fill available space */
  }
  
  .top-row, .bottom-row {
    justify-content: center;
    display: flex;
    gap: 10px; /* Space between components */
    padding: 0; /* Padding around the rows */
  }

